<html>
    <head>
        <meta charset="UTF-8">
        <title>Checkerboard Assignment</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='checker.js') }}"></script>
    </head>
    <body>
        <table>
            {% for i in range(rows) %}
            <tr>
                {% for j in range(columns) %}
                <td class="color{{ (i+j)%2 +1 }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>